@using BlazorApp.Entities

<h1>
    @foldername
</h1>
@if (ErrorMessage != null)
{
    <div class="alert alert-warning">@ErrorMessage</div>
}

@if (greetings == null)
{
    <p class="pad-10"><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="d-md-table-cell">&nbsp;</th>
                    @if (@foldername == Folder.Inbox)
                    {
                        <th scope="col" class="d-none d-md-table-cell">From</th>
                    }
                    @if (@foldername == Folder.Sent)
                    {
                        <th scope="col" class="d-none d-md-table-cell">To</th>
                    }
                    <th scope="col" class="d-table-cell">Time</th>
                    <th scope="col" class="d-table-cell">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var greeting in greetings)
                {
                    <tr @onclick="(e => read(greeting.Id))">
                        <td class="d-table-cell">
                            <button class="btn delete-btn"
                            @onclick=@(e => Delete(greeting.Id))>
                                <span class="oi oi-circle-x"
                              aria-hidden="true">
                                </span>
                            </button>
                        </td>
                        @if (@foldername == Folder.Inbox)
                        {
                            <td class="d-none d-md-table-cell">@greeting.From</td>
                        }
                        @if (@foldername == Folder.Sent)
                        {
                            <td class="d-none d-md-table-cell">@greeting.To</td>
                        }
                        <td class="d-none d-md-table-cell">@greeting.Timestamp</td>
                        <td class="d-table-cell d-md-none">
                            @if (@greeting.Timestamp.Date == DateTime.Now.Date)
                            {
                                <span>@greeting.Timestamp.Hour:@greeting.Timestamp.Minute</span>
                            }
                            else
                            {
                                <span>@greeting.Timestamp.Year-@greeting.Timestamp.Month-@greeting.Timestamp.Day</span>
                            }
                        </td>
                        <td class="d-table-cell">

                            @greeting.Preview

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    [Parameter]
    public EventCallback<Guid> onGreetingClicked { get; set; }
    [Parameter]
    public List<Greeting> greetings { get; set; }
    [Parameter]
    public Folder foldername { get; set; }

    HttpClient httpClient { get; set; } = new();
    private string? ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        greetings = greetings;
    }

    private async Task read(Guid id)
    {
        await onGreetingClicked.InvokeAsync(id);
    }

    private async Task Delete(Guid id)
    {
        var result = await httpClient.DeleteAsync($"https://helenatestdev.azurewebsites.net/api/greeting/a/b/{id}");
        string resultAsString = await result.Content.ReadAsStringAsync();
        if (!result.IsSuccessStatusCode)
        {
            ErrorMessage = await result.Content.ReadAsStringAsync();
        }
    }
}